@font-face {
    font-family: Circular;
    font-weight: 900;
    src: url('ab-CerealBlack.woff');
}

@font-face {
    font-family: Circular;
    font-weight: 800;
    src: url('ab-CerealExtraBold.woff');
}

@font-face {
    font-family: Circular;
    font-weight: 600 700;
    src: url('ab-CerealBold.woff');
}

@font-face {
    font-family: Circular;
    font-weight: 500;
    src: url('ab-CerealMedium.woff');
}

@font-face {
    font-family: Circular;
    font-weight: 400;
    src: url('ab-CerealBook.woff');
}

@font-face {
    font-family: Circular;
    font-weight: 100 300;
    src: url('ab-CerealLight.woff');
}

body {
    margin: 0px;
    padding: 0px;
}

.airbnb {
    font-family: Circular, Arial, Helvetica, sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
}

.airbnb-content {
    display: block;
}

h1 {
    font-size: 3em;
    padding: 8px 0px;
    margin: 0px;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}

.hero-section {
    display: block;
    position: relative;
    height: auto;
}

.options-section {
    display: block;
    position: relative;
    height: auto;
    padding: 10px 0px;
}

.hero-container {
    display: block;
    position: relative;
    width: 100%;
}

.hero-content {
    position: relative;
    top: 0px;
    left: 0px;
    height: 550px;
    color: white;
}

.hero-end {
    position: relative;
    width: 100%;
    height: 1px;
}

.hero-img {
    width: 100%;
    bottom: 0px;
    z-index: 1;
    position:absolute;
    left:0;
    right:0;
    object-fit:cover;
    object-position:center bottom;
    vertical-align:bottom;
}

.hero-cta {
    z-index: 999;
}

.hero-cta-button {
    height:60px; 
    position: relative; 
    border-radius: 30px;
    width: 200px; 
    box-shadow: 0px 5px 10px rgba(160, 160, 160, 0.4); 
    background-color:white;
    color: #666;
    font-size: 18px;
    text-align: center;
    padding: auto 0px;
    display: flex;
}

.regular-cta-button {
    height:48px; 
    position: relative; 
    border-radius: 8px;
    width: 140px; 
    background-color:white;
    color: #222;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: auto 0px;
    display: flex;
    font-weight: 500;
    margin: 40px 0px;
}

.hero-cta-button-text {
    margin: auto;
    font-weight: bold;
}

.gradient-text {
    background: -webkit-linear-gradient(1turn, rgb(87, 13, 122), rgb(180, 26, 159));
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    vertical-align: bottom;
    z-index: 0;
}

.options-section {
    display: block;
}

.dynamic-row-container {
    width: 100%;
    display: block;
    position: relative;
    box-sizing: content-box;
    min-height: 64px;
    max-height: 400px;
    padding: 16px 0px 22px 0px;
}

.dynamic-row-content-container {
    margin: 0px 80px;
    padding: 0px;
}

.dynamic-row-content {
    margin: 0px;
    padding: 0px;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.dynamic-row-header {
    margin: 0px;
    padding: 8px;
    width: 100%;
    min-width: 100%;
    color: #333;
}

.dynamic-row-cards.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: row;
    padding: 8px;
    gap: 16px;
}

.dynamic-row-cards.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    padding: 8px;
    gap: 16px;
}


.card-container {
    min-width: 25%;
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
    display: relative;
    box-sizing: border-box;
}

.card-container.nowrap {
    flex-wrap: nowrap;
}

.card-image-container {
    min-height: 64px;
    min-width: 64px;
    display: flex;
    padding: 8px 0px;
    align-items: center;
}

.shrink {
    flex-shrink: 4;
}

.card-image {
    padding: 0px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.card-image-img {
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.card-image-img-wide {
    border-radius: 16px;
}

.col-4 .card-image-img,
.col-3 .card-image-img {
    border-radius: 8px;
}

.card-image-overlay-container {
    position: absolute;
    height: 100%;
    flex-grow: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image-overlay-left {
    padding: 80px 33% 80px 80px;
}

.card-image-overlay-right {
    padding: 80px 80px 80px 33%;
}

.card-label {
    text-align: left;
    margin: auto 0px;
    padding: 0px;
    flex-shrink: 1;
    min-width: 63%;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

.nowrap .card-label {
    padding: 8px 16px;
    font-size: normal;
}

.card-title {
    padding: 0px;
    font-weight: 500;
    color: #333;
    overflow-x: hidden!important;
    text-overflow: ellipsis!important;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.card-subtitle {
    padding: 0px;
    font-weight:normal;
    font-size: 13.5px;
}

.col-4 .card-subtitle {
    font-size: normal;
}

.footer-section {
    background-color: rgb(247,247,247);
    border-top: 1px solid rgb(221,221,221);
    display: block;
    padding: 0px 80px;
    margin-top: 40px;
    font-size: 13.5px;
    color: rgb(72,72,72);
}

.footer-nav {
    padding: 40px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
}

.footer-legal {
    border-top: 1px solid rgb(221,221,221);
    padding: 24px 0px;
    display: flex;
    width: 100%;
}

.footer-legal-left {
    text-align: left;
    flex-basis: 50%;
}

.footer-legal-right {
    text-align: right;
    flex-basis: 50%;
}

.footer-nav-group {
    flex-basis: 25%;
    min-width: 200px;
    padding: 0px;
}

.collapsible-list {
    width: 100%;
    display:inline-block;
    list-style: none;
    padding: 8px;
    margin: 0px;
}

.collapsible-list-item {
    display: inline-block;
    padding: 0px 10px;
    margin: auto 0px;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    align-items: center;
}

.airbnb p {
    display: block;
}

a {
    color: #222;
    text-decoration-line: none;
}

a:hover {
    color: #222;
    text-decoration-line: underline;
}

h5 {
    font-size:0.9em;
    text-transform: uppercase;
}