@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400 600;
    src: url("nf-NetflixSansRegular.woff") format("woff");
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 1 200;
    src: url("nf-NetflixSansThin.woff") format("woff");
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 200 399;
    src: url("nf-NetflixSansLight.woff") format("woff");
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 600 700;
    src: url("nf-NetflixSansMedium.woff") format("woff");
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700 800;
    src: url("nf-NetflixSansBold.woff") format("woff");
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800 1000;
    src: url("nf-NetflixSansBlack.woff") format("woff");
}

@font-face {
    font-family: 'Netflix Sans Icon';
    src: url("nf-NetflixSansIcon.woff") format("woff");
}

body {
    background-color: black;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    margin: 0px;
}

h1 {
    font-size: 3.125rem;
    font-weight: bold;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.1;
    margin: 0px; 
}

h3 {
    font-size: 1.625rem;
    font-weight: 400;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 0px 5% 20px 5%;
}

.subtitle {
    display:block;
    margin: 16px;
}

h5 {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding: 0px 5% 20px 5%;
    -webkit-font-smoothing: antialiased;
}

.container {
    display: grid;
    grid-template-columns: 100%;
}

.hero-section {
    grid-area: 1 / 1 / span 1 / span 1;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0) 60%, rgba(0,0,0,0.8)),
                      url("../assets/nf-IT-en-20210823-popsignuptwoweeks-perspective_alpha_website_large.jpeg");
    background-size: cover;
}

.rows-section {
    grid-area: 2 / 1 / span 1 / span 1;
    align-items: center;
    justify-content: center;
}

.faq-section {
    grid-area: 3 / 1 / span 1 / span 1;
}
.footer-section {
    grid-area: 4 / 1 / span 1 / span 1;
}

.hero {
    display: block;
    height: auto;
}

.hero-content-wrapper {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
}
.hero-ribbon-area,
.hero-slogan-area,
.hero-form-area {
    display: block;
}

.hero-slogan-area {
    padding: 50px 5%;
    position: relative;
    text-align: center!important;
}

@media only screen and (min-width: 950px) {
    .hero-slogan-area {
        padding: 70px 45px;
    }
}

.hero-ribbon {
    display: flex;
    justify-content: stretch;
    padding: 28px 5%;
}

.hero-ribbon-brand {
    width: 100px;
    min-height: 30px;
    height: 36px;
    flex-shrink: 1;
}
.hero-ribbon-spacer {
    flex-shrink: 10;
    flex-grow: 1;
}
.hero-ribbon-options {
    width: 250px;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
}
.hero-splash {
    padding: 75px 0px;
    width: 100%;
    max-width: 950px;
    text-align: center;
    margin: auto;
}
.row {
    display: flex;
    padding: 5%;
    width: 90%;
    border-bottom: 8px solid #222;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content {
    text-align:center;
}

@media only screen and (min-width: 950px) {
    .content {
        text-align: left;
    }
}

.row::nth-of-type(odd) {
    flex-wrap: wrap;
}
.row::nth-of-type(even) {
    flex-wrap: wrap-reverse;
}
.row-block {
    width: 425;
    display: inline;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

@media only screen and (max-width: 450px) {
    .row-block {
        width: 90%;
    }
}

.faq {
    padding: 0px 5%;
    display: flex;
    width: 90%;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 8px solid #222;
}

.footer {
    padding: 5% 8.5%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    color: rgb(117,117,117);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.dropdown-select {
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 8px 5px;
    border: none;
}
.lang-selector {
    border: 1px solid #aaa;
    border-radius: 2px;
    padding-right: 5px;
    margin-right: 12%;
}
.lang-selector::before {
    align-self: center;
    display: inline-block;
    position: relative;
    font-family: 'Netflix Sans Icon';
    content: '\e896';
    left: 0.5rem;
    top: 100%;
    font-size: 0.75rem;
}

button {
    background-color: #e50914;
    box-sizing: border-box;
    display: inline-flex;
    color: white;
    min-height: 60px;
    width: auto;
    min-width: 74px;
    padding: 0px 1em;
    font-family:  'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1rem;
    border: none;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 0.1px;
    cursor: pointer;
    position: relative;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-font-smoothing: antialiased;
}

svg {
    display: block;
}

button:hover {
    background-color: rgb(244,6,18);
}

.hero-form {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.5rem 0px;
}

.btn {
    padding: 7px 17px;
    border-radius: 2px;
}

input::placeholder {
    color: #aaa;
}

.download-popup {
    border-radius: 16px;
    border: 2px solid #666;
}

.accordion-list {
    width: 75%;
    padding: 0px;
}

.accordion-list-item {
    list-style-type: none;
    position:relative;
}
.accordion-title {
    margin: 5px;
    padding: 3% 4%;
    min-width: 350px;
    width: 100%;
    flex-shrink: 1;
    background-color: rgb(48,48,48);
    color: white;
    text-align: left;
    font-size: 1.625rem;
}
.accordion-content {
    margin: 0px 3px;
    background-color: #666;
    color: white;
}
.closed {
    display: none;
}
.x-icon {
    position: absolute;
    top: 50%;
    right: 1em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    height: 1em;
    width: 1em;
    fill: #fff;
}

.chevron {
    fill: #fff;
    height: inherit;
}

.chevron-span {
    width: 0.35em;
    height: 0.75em;
    margin-left:0.5em;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    position: relative;
}

.x-icon-closed {
    transform: translateY(-50%) rotate(-45deg);
}
.netflix-logo {
    fill: #e50914;
}
.signup-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0.85rem;
    margin: auto;
    margin-top: 0px;
    padding:0px 15% 10% 15%;
    max-width: 950;
}

.textfield {
    border-radius: 2px;
    border: 1px solid rgb(118,118,118);
    box-sizing: border-box;
    font-size: 16px;
    height: 48px;
    min-width: 450px;
    padding: 10px 10px 0px 10px;
}

.signup-form-oneline {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 60px!important;
    padding-top: 0px;
}

.footer-link:hover {
    text-decoration: underline;
}

.label-visible {
    color: #8c8c8c;
    top: 50%;
    left: 10px;
    position: absolute;
    transition: font .1s ease,top .1s ease,transform .1s ease,-webkit-transform .1s ease,-moz-transform .1s ease,-o-transform .1s ease;
    transform: translateY(-50%);
}

.input-hastext {
    font-size: 13px;
    font-weight: bold;
    left: 10px;
    top: 6px;
    transform: translateY(0%);
}

.input_id {
    position: relative;
    height: 60px;
}

