.cta {
     margin: 0px;
     padding: 0px;
}

.card {
    display: block;
    margin: 0px;
    padding: 0px;
}

.ap-content {
    text-align: center;
    display: flex;
}

.iphone-takeover {
    background-color: rgb(245, 245, 247);
}

@media only screen and (max-width: 319px) {}

@media only screen and (max-width: 734px) {}

@media only screen and (max-height: 700px) {}