      /** Ultra Light */
      @font-face {
        font-family: "San Francisco";
        font-weight: 100;
        src: url("ap-sanfranciscodisplay-ultralight-webfont.woff");
      }
        
      /** Thin */
      @font-face {
        font-family: "San Francisco";
        font-weight: 200;
        src: url("ap-sanfranciscodisplay-thin-webfont.woff");
      }
        
      /** Regular */
      @font-face {
        font-family: "San Francisco";
        font-weight: 400;
        src: url("ap-sanfranciscodisplay-regular-webfont.woff");
      }
        
      /** Medium */
      @font-face {
        font-family: "San Francisco";
        font-weight: 500;
        src: url("ap-sanfranciscodisplay-medium-webfont.woff");
      }
        
      /** Semi Bold */
      @font-face {
        font-family: "San Francisco";
        font-weight: 600;
        src: url("ap-sanfranciscodisplay-semibold-webfont.woff");
      }
        
      /** Bold */ 
      @font-face {
        font-family: "San Francisco";
        font-weight: 700;
        src: url("ap-sanfranciscodisplay-bold-webfont.woff");
      }